<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<p><%= @question %><br><i>-You</i></p>
<p class = banner><%= @answer %><br><i>-Your coach</i></p>
<%= link_to "Ask a new question", form_path %>
